<div class="sidebar">

  <h3 class="logo">HabitOS</h3>

  <mat-nav-list>

    <a mat-list-item routerLink="/dashboard" outerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a mat-list-item routerLink="/habits" outerLinkActive="active">
      <mat-icon>check_circle</mat-icon>
      Habits
    </a>

    <a mat-list-item routerLink="/reports" outerLinkActive="active">
      <mat-icon>bar_chart</mat-icon>
      Reports
    </a>

    <a mat-list-item routerLink="/settings" outerLinkActive="active">
      <mat-icon>settings</mat-icon>
      Settings
    </a>

  </mat-nav-list>

</div>
