<div class="login-wrapper">
  <div class="login-card">

    <h1 class="app-title">🪴 Habit OS</h1>
    <p class="subtitle">Build habits. Track progress.</p>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        [disabled]="loading"
      />

      <div *ngIf="email && !isEmailValid" class="error-box">
        ⚠️ Email not valid. Please enter valid email address.
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        [disabled]="loading"
      />

      <div *ngIf="password && !isPasswordValid" class="error-box">
        ⚠️ Please enter valid password.
      </div>
    </div>

    <!-- Error message -->
    <div *ngIf="errorMessage" class="error-box">
      ⚠️ {{ errorMessage }}
    </div>

    <!-- Button -->
    <button
        class="login-btn"
        (click)="login()"
        [disabled]="loading || !isFormValid">
        {{ loading ? 'Logging in...' : 'Login' }}
    </button>

    <p class="footer-text">
      Start your habit journey 🌱
    </p>

  </div>
</div>