<div class="login-wrapper">
  <div class="login-card">

    <h1 class="app-title">🪴 Habit OS</h1>
    <p class="subtitle">Build habits. Track progress.</p>

    <form (ngSubmit)="login()" #loginForm="ngForm">

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          required
          name="email"
          [(ngModel)]="credentials.email"
          placeholder="you@example.com" />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          required
          name="password"
          [(ngModel)]="credentials.password"
          placeholder="••••••••" />
      </div>

      <button
        class="login-btn"
        type="submit"
        [disabled]="loading || !loginForm.valid">

        {{ loading ? 'Logging in…' : 'Login' }}
      </button>

    </form>

    <p class="footer-text">
      Start your habit journey 🌱
    </p>

  </div>
</div>
